body
 background: white
.containerMain
 display: grid
 grid-template-columns: 1fr
 grid-template-rows: repeat(9, auto )

.contMain0
 display: grid
 grid-template-columns: 1fr auto
 grid-template-rows: 1fr
 padding: 30px 10px
 img
  width: 100px

.contMain1
 display: grid
 justify-items: center
 flex-direction: column
 gap: 40px
 h1, p
  text-align: center
 input
  width: 60%
