@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap')
$Pink: hsl(322, 100%, 66%)
$LightPink: hsl(321, 100%, 78%)
$LightRed: hsl(0, 100%, 63%)
$VeryDarkCyan: hsl(192, 100%, 9%)
$VeryPaleBlue: hsl(207, 100%, 98%)
$FamilyPoppins: 'Poppins', sans-serif
$FamilyOpenSans: 'Open Sans', sans-serif
@mixin buttonSubmit($backButton,$colorButton, $borderButton, $fontButton, $widthButton)
    border: 1px solid $Pink
    border-radius: $borderButton
    padding: 5px 10px
    background: $backButton
    color: $colorButton
    font-family: $fontButton
    font-size: 10px
    width: $widthButton
@mixin titleMain($fontSize, $widthTitle)
    color: $VeryDarkCyan
    font-family: $FamilyPoppins
    font-size: $fontSize
    width: $widthTitle
    text-align: center
@mixin paragraphMain($letteSpacingP)
    color: $VeryDarkCyan
    text-align: center
    font-family: $FamilyOpenSans
    font-size: 12px
    line-height: 20px
    letter-spacing: $letteSpacingP
    font-weight: 500

body
    background: white
.containerMain
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(9, auto )

.contMain0
    display: flex
    padding: 30px 10px
    div:nth-child(1)
        flex: 1 1 auto
    div:nth-child(2)
        flex: 0 0 auto
    img
        width: 100px
    input
        @include buttonSubmit(#fff,#000, 40px, $FamilyOpenSans, 100% )

.contMain1
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px
    h1
        @include titleMain(20px, 70%)
    p
        @include paragraphMain(1.7px)
    input
        @include buttonSubmit($Pink, #fff, 40px, $FamilyOpenSans, 55%)

.contMain2
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    div:nth-child(1)
        img
            width: 100%
            padding: 0px 10px
    div:nth-child(2), div:nth-child(3)
        width: 45%
        img
            width: 20px
            height: 20px
        h2
            @include titleMain(55px, 100%)
        p
            @include paragraphMain(0.56px)
.contMain3, .contMain4, .contMain5
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    img
        width: 100%
        padding: 0px 10px
    h3
        @include titleMain(14px, 100%)
    p
        @include paragraphMain(0.56px)
        padding: 0px 10px

.contMain6
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    h3
        text-align: center
        @include titleMain(18px, 70%)
    input
        width: 60%
        @include buttonSubmit($Pink, #fff, 40px, $FamilyOpenSans, 40%)

.contMain7
    display: flex
    flex-direction: column
    .contMain7--form
        display: flex
        flex-direction: column
        padding: 0 20px
        h3
            @include titleMain(14px, 70%)
            text-align: left
        p
            @include paragraphMain(0.56px)
            text-align: left
        form
            display: flex
            flex-direction: column
            align-items: end
        input[type="text"]
            width: 100%
        input[type="submit"]
            width: 40%
            justify-self: end
            @include buttonSubmit($Pink, #fff, 5px, $FamilyOpenSans, 45%)
    .contMain7--contact
        background: red
        display: flex
        flex-direction: column
        padding: 0 20px
        div:nth-child(1)
            display: flex
            flex-direction: column
            img
                width: 50%
            p
                @include paragraphMain(0.56px)
                color: white
                text-align: left
        div:nth-child(2)
            display: flex
            flex-direction: column
            div
                display: flex
                flex-direction: row
                gap: 10px
                img
                    width: 20px
                    height: 20px
                span
                    @include paragraphMain(0.56px)
                    color: white
    .contMain7--socials
        background: #41e620
        display: flex
        flex-direction: row
        justify-content: flex-start
        gap: 20px
        padding: 20px
        img
            width: 20px
            height: 20px

.containerFooter
    display: flex
    flex-direction: column
    background: #000
    width: 100%
    font-size: 12px
    font-family: 'Heebo', sans-serif
    font-weight: bold
    h3
        color: #fff
        text-align: center
    a
        color: #FF3F00
        text-transform: capitalize
        text-decoration: none
        &:hover
            text-decoration: underline
