@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap')
$Pink: hsl(322, 100%, 66%)
$LightPink: hsl(321, 100%, 78%)
$LightRed: hsl(0, 100%, 63%)
$VeryDarkCyan: hsl(192, 100%, 9%)
$VeryPaleBlue: hsl(207, 100%, 98%)
$FamilyPoppins: 'Poppins', sans-serif
$FamilyOpenSans: 'Open Sans', sans-serif
@mixin buttonSubmit($backButton,$colorButton, $borderButton, $fontButton, $widthButton)
    border: none
    border-radius: $borderButton
    padding: 10px 0px
    background: $backButton
    color: $colorButton
    font-family: $fontButton
    font-size: 11px
    width: $widthButton
    font-weight: bold
    &:hover
        background: $LightPink
        cursor: pointer
@mixin titleMain($fontSize, $widthTitle)
    color: $VeryDarkCyan
    font-family: $FamilyPoppins
    font-size: $fontSize
    width: $widthTitle
    text-align: center
@mixin paragraphMain($letteSpacingP)
    color: $VeryDarkCyan
    text-align: center
    font-family: $FamilyOpenSans
    font-size: 12px
    line-height: 20px
    letter-spacing: $letteSpacingP
    font-weight: 500

body
    background: white
.containerMain
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(8, auto )
    row-gap: 200px
.contMain0,.contMain1,.contMain2,.contMain3,.contMain4,.contMain5,.contMain6
    padding: 0px 10px
.contMain0
    display: flex
    padding-top: 30px
    div:nth-child(1)
        flex: 1 1 auto
        display: flex
        align-items: center
    div:nth-child(2)
        flex: 0 0 auto
    img
        width: 100px
    input
        @include buttonSubmit(#fff,#000, 40px, $FamilyOpenSans, 100% )
        padding: 6px 20px
        font-size: 8px
        color: $Pink
        border: 1px solid $Pink
        &:hover
            background: #fff
            border: 1px solid $LightPink
            cursor: pointer
            color: $LightPink

.contMain1
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px
    h1
        @include titleMain(20px, 80%)
    p
        @include paragraphMain(0.63px)
    input
        @include buttonSubmit($Pink, #fff, 40px, $FamilyOpenSans, 50%)
        box-shadow: 5px 5px 18px 0px rgba(91,91,91,0.52)

.contMain2
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    div:nth-child(1)
        img
            width: 100%
    div:nth-child(2), div:nth-child(3)
        width: 45%
        img
            width: 20px
            height: 20px
        h2
            @include titleMain(55px, 100%)
        p
            @include paragraphMain(0.56px)
            color: #ccc
.contMain3, .contMain4, .contMain5
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    img
        width: 100%
    h3
        @include titleMain(14px, 100%)
    p
        @include paragraphMain(0.56px)

.contMain6
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    h3
        text-align: center
        @include titleMain(18px, 70%)
    input
        @include buttonSubmit($Pink, #fff, 40px, $FamilyOpenSans, 50%)
        box-shadow: 5px 5px 18px 0px rgba(91,91,91,0.52)

.contMain7
    display: flex
    flex-direction: column
    background: #00252E
    gap: 30px
    .topImage
        width: 100%
        background: white
    .contMain7--form
        display: flex
        flex-direction: column
        padding: 0 20px
        gap: 10px
        h3
            @include titleMain(14px, 70%)
            text-align: left
            color: white
        p
            @include paragraphMain(0.56px)
            text-align: left
            color: white
        form
            display: flex
            flex-direction: column
            align-items: end
            gap: 15px
        input[type="text"]
            width: 100%
            border: none
            border-radius: 5px
            padding: 10px 0px
        input[type="submit"]
            width: 40%
            justify-self: end
            @include buttonSubmit($Pink, #fff, 5px, $FamilyOpenSans, 45%)
    .contMain7--contact
        display: flex
        flex-direction: column
        padding: 0 20px
        gap: 20px
        div:nth-child(1)
            display: flex
            flex-direction: column
            gap: 20px
            img
                width: 50%
            p
                @include paragraphMain(0.56px)
                color: white
                text-align: left
        div:nth-child(2)
            display: flex
            flex-direction: column
            gap: 20px
            div
                display: flex
                flex-direction: row
                gap: 10px
                img
                    width: 20px
                    height: 20px
                span
                    @include paragraphMain(0.56px)
                    color: white
    .contMain7--socials
        display: flex
        flex-direction: row
        justify-content: flex-start
        gap: 20px
        padding: 20px
        img
            width: 20px
            height: 20px

.containerFooter
    display: flex
    flex-direction: column
    background: #000
    width: 100%
    font-size: 12px
    font-family: 'Heebo', sans-serif
    font-weight: bold
    padding: 10px 0
    h3
        color: #fff
        text-align: center
    a
        color: #FF3F00
        text-transform: capitalize
        text-decoration: none
        &:hover
            text-decoration: underline

@media screen and ( min-width: 1024px )
    .contMain0
        img
            width: 250px
        input
            font-size: 15px
    .contMain1
        h1
            @include titleMain(32px, 80%)
        p
            @include paragraphMain(0.63px)
            font-size: 16px
            width: 40%
        input
            @include buttonSubmit($Pink, #fff, 40px, $FamilyOpenSans, 50%)
            width: 20%
            padding: 20px 0
            font-size: 15px
    .contMain2
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-evenly
        div:nth-child(1)
            display: flex
            flex: 1 1 100%
            justify-content: center
            img
                width: 80%
        div:nth-child(2), div:nth-child(3)
            display: flex
            flex-direction: column
            flex-wrap: wrap
            width: auto
            img
    .contMain3, .contMain5
        display: grid
        grid-template-columns: repeat(2,40% )
        grid-template-rows: repeat(2,auto )
        grid-template-areas: 'title img' 'paragrah img'
        justify-content: center
        img
            grid-area: img
        h3
            grid-area: title
            @include titleMain(40px, 80%)
            text-align: left
            align-self: end
        p
            grid-area: paragrah
            text-align: left
            align-self: start
            font-size: 15px
    .contMain4
        display: grid
        grid-template-columns: repeat(2,40% )
        grid-template-rows: repeat(2,auto )
        grid-template-areas: 'img title' 'img paragrah'
        justify-content: center
        img
            grid-area: img
        h3
            grid-area: title
            @include titleMain(35px, 80%)
            text-align: left
            align-self: end
        p
            grid-area: paragrah
            text-align: left
            align-self: start
            font-size: 15px
    .contMain6
        h3
            @include titleMain(24px, 70%)
        input
            @include buttonSubmit($Pink, #fff, 40px, $FamilyOpenSans, 50%)
            width: 20%
            padding: 20px 0
            font-size: 15px
    .contMain7
        display: grid
        grid-template-columns: repeat(2,1fr )
        grid-template-rows: repeat(3,auto )
        grid-template-areas: 'imgTop imgTop' 'contact form' 'socials .'
        justify-items: start
        .topImage
            grid-area: imgTop
        .contMain7--form
            grid-area: form
            padding: 0 0
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            width: 70%
            h3
                @include titleMain(24px, 70%)
                color: white
                text-align: left
            p
                width: 70%
                font-weight: 600
            form
                flex-direction: row
                align-items: center
                flex: 1 1 auto
                input[type="text"]
                    border: none
                    border-radius: 5px
                    width: 60%
                input[type="submit"]
                    width: 20%
        .contMain7--contact
            grid-area: contact
            padding: 0 0
            width: 50%
            margin: 0 70px
            div:nth-child(1)
                p
                    width: 86%
                    font-weight: 600
        .contMain7--socials
            grid-area: socials
            margin: 0 70px
            padding-left: 0
